header {
    background: linear-gradient(0deg, #000000cf, #009688 );
    filter: drop-shadow(2px 4px 6px black);
    color: #fff;
    padding: 10px;
    margin-top: 50px
}

header .logo{
    font-size: 80px
}

header .logo svg {
    filter: drop-shadow(2px 4px 6px black);
}

header h1 {
    margin-top: -30px;
    font-size: 30px;
    font-weight: 500;
    filter: drop-shadow(2px 4px 6px black);
}

@media (max-width: 450px) {
    header h1 {
        margin-top: -20px;
        font-size: 18px;
        font-style: italic;
    }
}